# =========================
# Dependencies
# =========================
node_modules/

# pnpm
.pnpm-store/

# npm
npm-debug.log*

# yarn
yarn-debug.log*
yarn-error.log*

# =========================
# Build outputs
# =========================
dist/
build/
coverage/
.out/
.next/
.nuxt/
.vite/
.turbo/

# TypeScript
*.tsbuildinfo

# =========================
# Environment
# =========================
.env
.env.*
!.env.example

# =========================
# Prisma
# =========================
prisma/dev.db
prisma/dev.db-journal

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# IDE
# =========================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing
# =========================
.nyc_output/

# =========================
# Cache
# =========================
.cache/
.eslintcache

# =========================
# Temporary files
# =========================
tmp/
temp/

# =========================
# Docker
# =========================
docker-data/

# =========================
# Misc
# =========================
*.pid
*.seed
postgres-data/